<html>
    <head>

        <title>Contact Us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale-1">

        <link rel="stylesheet" href="css/bootstrap-5.3.2-dist/css/bootstrap.min.css">
        <script src="./css/bootstrap-5.3.2-dist/js/jquery-3.7.1.min.js"></script>
        <script src="./css/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>

        <script>

            function checkboxes()
            {

                var firstName = document.getElementById("fName").value;
                var lastName = document.getElementById("lName").value;
                var email = document.getElementById("email").value;
                var termsConditions = document.getElementsByName("yes").value;

     
                if(firstName == "")
                { 
                    document.getElementById("fName").focus();
                    document.getElementById("fName").style.backgroundColor = "red";
                    document.getElementById("fNameMessage").innerHTML = "* Required";
                    document.getElementById("fNameMessage").style.color = "red";

                    return false;
                }
                

                if(lastName == "")
                { 
                    document.getElementById("lName").focus();
                    document.getElementById("lName").style.backgroundColor = "red";
                    document.getElementById("lNameMessage").innerHTML = "* Required";
                    document.getElementById("lNameMessage").style.color = "red";

                    return false;
                }

                if(email == "")
                { 
                    document.getElementById("email").focus();
                    document.getElementById("email").style.backgroundColor = "red";
                    document.getElementById("emailMessage").innerHTML = "* Required";
                    document.getElementById("emailMessage").style.color = "red";

                    return false;
                }


            }
        </script>

    </head>

    <body>

        <h1>
            <b>Contact Us</b>
        </h1>
        
        <form method="POST" action="index.html">
            <p>First Name: <input type="text" id="fName" required>&nbsp;<span id="fNameMessage"></span></p>
            <p>Last Name: <input type="text" id="lName" required>&nbsp;<span id="lNameMessage"></span></p>
            <p>E-mail Address: <input type="text" id="email" required>&nbsp;<span id="emailMessage"></span></p>
            <div ng-if="UserInfo.approvedTermsAndConditions || !UserInfo.isAuthenticated">
                <ncy-breadcrumb></ncy-breadcrumb>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form name="tandc" ng-submit="approveTandC()">
                            <div class="panel panel-default" style="margin-top:20px;">
                                <div class="panel-body" style="max-height:600px; overflow-y:scroll; background-color:white;">
                                    <div style="text-align:center;">
                                        <h1>Terms and Conditions</h1>
                                        <p>
                                            This is where your terms and conditions content will go.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center;" ng-if="settings.Authentication.RequireTermsAndConditions && !UserInfo.approvedTermsAndConditions && UserInfo.isAuthenticated">
                                <button style="margin:20px;" class="btn btn-primary" type="submit">Agree to Terms and Conditions</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <p><button type="button" class="btn btn-primary" onclick='checkboxes();'>Submit My Info</button></p>
        </form>

            <p><a href="index.html" >Homepage</a></p>
            <p><a href="about.html" >The Giving Tree</a></p>

    </body>